<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Bootstrap Tutorial</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
body { 
	background: #2F4F4F;
	padding-top: 60px;
}
.navbar-default{
	background-color:#fff;
}
.navbar-default .navbar-brand{
	
}
.btn-default{
	background-color: #2F4F4F;
	color:#fff;
}
.btn-info{
	background-color:#5F9EA0;
}
.badge{
	background-color:#5F9EA0;
}
.jumbotron{
	background-color:#fff;
}
.profile{
	background-color:#99ccff;
	height: 300px;
	text-align: center
	
}

.follow{
	background-color:#fff;
}
.nopadding {
   padding: 0 ;
   margin: 0 ;
}
</style>
<body>
<div class="container">
	<div class="navbar navbar-default navbar-fixed-top">
		
    	<ul class="nav navbar-nav">
    		<li class="active" ><a href="#">Home <span class="glyphicon glyphicon-home"></span></a></li>
    		<li><a href="#">Notifications <span class="glyphicon glyphicon-bell"><span class="badge">5</span></a></li>
    		<li><a href="#">Messages <span class="glyphicon glyphicon-envelope"><span class="badge">2</span></a></li>
    	</ul>
    	
    	<form class="navbar-form navbar-right">
    		<div class="form-group">
    			<input type="text" class="form-control" placeholder="Search">
    			<button type="submit" class="btn btn-default" >Submit</button>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class=" profile jumbotron col-lg-3">
			<h4><strong>Santhosh Kadavy</strong></h4>
			<img src="profilePic.jpg" height="150" width="120" />
		</div>
		<div class="col-lg-6">
			<div id="postTweet" class="jumbotron">
				<div class="form-group">
 					<textarea class="form-control" rows="3" id="tweetText" placeholder="What is happening?"></textarea>
 					<input id="tweet" type="submit" class="btn btn-info btn-sm pull-right" value="tweet"/>
				</div>
			</div>
			<div id="tweetList"></div>
		</div>
		<div class="follow jumbotron col-lg-3" id="followList"></div>
	</div>
	
</div>
<!-- code to define javascript template - start -->
<script id="tweetsTemplate" type="text/html">
		
	<% _.each(tweets,function(tweet){%>
		<div class='jumbotron'>
			<div class='row'>
				<div class='col-lg-2'><img src='<%=tweet.user.dp%>' height='50' width='50'/></div>
			    <div class='col-lg-10' >
			   		<div class='row' style='font-weight:bold'>
			   			<div><%=tweet.user.name%></div>
		   			</div>
		   			<div class='row'>
		   				<div ><%=tweet.message.text%></div>
					</div>
					<% if (tweet.message.image!=""){%>
					<div class='row' style='padding-top:10px'>
						<div ><img src='<%=tweet.message.image%>' height='250' width='400'/></div>
					</div>
					<%}%>
					<div class='row' style='padding-top:10px'>
						<div><span class='glyphicon glyphicon-share-alt col-lg-3' id='reply<%=tweet.id%>' onclick='increment(this.id)'><span 
						class='badge' >0</span></span>
							<span class='glyphicon glyphicon-retweet col-lg-3' id='share<%=tweet.id%>' onclick='increment(this.id)'><span  
							class='badge' >0</span></span>
							<span class='glyphicon glyphicon-heart col-lg-3' id='heart<%=tweet.id%>' onclick='increment(this.id)'><span  
							class='badge' >0</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	<%});%>
		
</script>
<script id="followTemplate" type="text/html">
<div class="row"><h3>Who to follow</h3></div>
<%_.each(followList,function(followMember){%>
		<div class='row' style='padding-top:15px'>
				<div class='col-lg-4 nopadding'><img src='<%=followMember.dp%>' height='50' width='50'/></div>
			    <div class='col-lg-6' >
			   		<div class='row' style='font-weight:bold'>
			   			<div><%=followMember.name%></div>
		   			</div>
		   			
					<div class='row' style='padding-top:10px'>
						<button class="btn btn-info btn-xs">Follow</button>
					</div>
				</div>
		</div>
<%});%>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>


<!-- js code to create models, can be added in a separate file-->
<script>
var userModel=Backbone.Model.extend({
	defaults:{
		name:'',
		gender:'',
		dp:''
	}
});

var messageModel=Backbone.Model.extend({
	defaults:{
		text:'',
		image:''
	}
});

var userMessageModel=Backbone.Model.extend({
	defaults:{
		user:new userModel(),
		message:new messageModel(),
		id:''
	}
});
var userCollection=Backbone.Collection.extend({
	model:userModel
})

var messageCollection=Backbone.Collection.extend({
	model:messageModel
})

var userMessageCollection=Backbone.Collection.extend({
	model:userMessageModel
})
</script>

<!-- js code to create models, can be added in a separate file-->
<script>
var messagesView=Backbone.View.extend({
	el:'#tweetList',
	template:_.template($('#tweetsTemplate').html()),
	initialize:function(){
		this.$el.empty();
		this.render();
	},
	render:function(){
			return this.$el.append(this.template({tweets:this.collection.toJSON()}));
	}
});

var followListView=Backbone.View.extend({
	el:'#followList',
	template:_.template($('#followTemplate').html()),
	initialize:function(){
		this.$el.empty();
		this.render();
	},
	render:function(){
			return this.$el.append(this.template({followList:this.collection}));
	}
});
</script>

<!-- code to call different views, can be added to a seperate file -->	 
<script>
	
var users=[{"name":"Alex","gender":"male","dp":"male.jpg"},{"name":"Tina","gender":"female","dp":"female.jpg"},{"name":"Vishnu","gender":"male","dp":"male.jpg"},{"name":"John","gender":"male.jpg","dp":"male.jpg"},{"name":"Saleem","gender":"male.jpg","dp":"male.jpg"},{"name":"Arjun","gender":"male.jpg","dp":"male.jpg"},{"name":"Swathi","gender":"female","dp":"female.jpg"},{"name":"Martin","gender":"male.jpg","dp":"male.jpg"},{"name":"Remo","gender":"male.jpg","dp":"male.jpg"},{"name":"Rose","gender":"female","dp":"female.jpg"}];
var messages=[{"text":"Participated in Hyderabad marathon","image":"Starfish.jpg"},{"text":"Back to school","image":""},{"text":"Watching India vs Australia at Chinnaswamy stadium","image":""},{"text":"Awesome climate here","image":"Sunset.jpg"},{"text":"Health is wealth","image":"Owl.jpg"},{"text":"Customer is always right","image":"Parachute.jpg"},{"text":"Eat dinner like beggar","image":""},{"text":"Drink 2 litres of water per day","image":""},{"text":"Use public transportation for daily commute","image":""},{"text":"Push yourself beyond limits","image":""},{"text":"Serve the poor","image":"Angrybirds.jpg"},{"text":"Patience is a virtue","image":"Marble.jpg"},{"text":"Family comes first","image":""},{"text":"Prevention is better than cure","image":""},{"text":"Live free or die hard","image":"Squirrel.jpg"},{"text":"Thumbs up, taste the thunder","image":""},{"text":"Happy women's day","image":""},{"text":"Got engaged","image":""},{"text":"Congrats to the Mangalyan team","image":"Hill.jpg"},{"text":"Go cashless","image":""}];
var loginUser={"name":"Santhosh Kadavy","gender":"male","dp":"profilePic.jpg"};
// below code to generate 100 random messages
	var objId=0;
	var tweets=new userMessageCollection();

	_.times(100,function(){
		objId=objId+1;
		var randomUserIndex=_.random(0, users.length-1);
		var randomMessageIndex=_.random(0, messages.length-1);
		var tweet=new userMessageModel({
			user:users[randomUserIndex],
			message:messages[randomMessageIndex],
			id:objId
		});
		tweets.add(tweet);
	});

new messagesView({collection:tweets});
new followListView({collection:users});
//onclick of tweet button by user
$('#tweet').click(function(event){
		var tempTweetObj=new Object();
		tempTweetObj.user=loginUser;
		var tempMessageObj=new Object();
		tempMessageObj.text=$('#tweetText').val();
		tempMessageObj.image="";
		tempTweetObj.message=tempMessageObj;
		tempTweetObj.id=tweets.length+1;
		tweets.unshift(tempTweetObj);
		new messagesView({collection:tweets});
});

//increment heart badge value by 1

function increment(glyphiconId){
	$('#'+glyphiconId+' > span').text(parseInt($('#'+glyphiconId+' > span').text())+1);
}
</script>


<!-- code to define javascript template - start -->

</body>
<html>