<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Bootstrap Tutorial</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
body { 
	background: #2F4F4F;
	padding-top: 60px;
}
.navbar-default{
	background-color:#fff;
}
.navbar-default .navbar-brand{
	
}
.btn-default{
	background-color: #2F4F4F;
	color:#fff;
}
.btn-info{
	background-color:#5F9EA0;
}
.badge{
	background-color:#5F9EA0;
}
.jumbotron{
	background-color:#fff;
}
.profile{
	background-color:#99ccff;
	height: 300px;
	text-align: center
	
}

.follow{
	background-color:#fff;
}
.nopadding {
   padding: 0 ;
   margin: 0 ;
}
</style>
<body>
<div class="container" id='mainDiv'>
</div>

<script id='loginTemplate' type="text/html">
	<div class='jumbotron col-lg-4 col-lg-offset-4'>
		<div class='row'>
			<div>
				<div class="form-group">
 					<input id="userId" type="text" class="form-control" placeholder="Username">
 					<input id="pwd" type="text" class="form-control" placeholder="Password">
    				<button id="loginBtn" class="btn btn-default">Login</button>
    				<a href="#signup">New user</a>
    				<label id="errorMsg" style="color:red"></label>
				</div>
			</div>
		</div>
	<div>
</script>

<script id='signUpTemplate' type="text/html">
	<div class='jumbotron col-lg-6 col-lg-offset-3'>
		<div class='row'>
			<div>
				<div class="form-group">
 					<input id="firstName" type="text" class="form-control" placeholder="First name">
 					<input id="lastName" type="text" class="form-control" placeholder="Last name">
 					<input id="emailId" type="text" class="form-control" placeholder="Email Id">
 					<input id="password" type="text" class="form-control" placeholder="Password">
 					<input id="imgPath" type="text" class="form-control" placeholder="Profile pic path">
    				<button id="signUpBtn" class="btn btn-default">Submit</button>
    				<label id="successMsg"></label>
				</div>
			</div>
		</div>
	<div>
</script>

<script id='homeTemplate' type='text/html'>
	<div id='navDiv'></div>
	<div id='tweetPageDiv'></div>
</script>

<script id='navTemplate' type='text/html'>
	<div class="navbar navbar-default navbar-fixed-top">
	   	<ul class="nav navbar-nav">
    		<li class="active" ><a href="#">Home <span class="glyphicon glyphicon-home"></span></a></li>
    		<li><a href="#">Notifications <span class="glyphicon glyphicon-bell"><span class="badge">5</span></a></li>
    		<li><a href="#">Messages <span class="glyphicon glyphicon-envelope"><span class="badge">2</span></a></li>
    	</ul>
    	<form class="navbar-form navbar-right">
    		<div class="form-group">
    			<input id="searchTxt" type="text" class="form-control" placeholder="Search">
    			<button id="searchBtn" class="btn btn-default" >Submit</button>
    			<a href="#logout"><strong>Logout</strong></a>
			</div>
		</form>
	</div>
</script>

<script id='tweetPageTemplate' type='text/html'>
	<div class="row">
		<div class=" profile jumbotron col-lg-3">
			<div id="loginUserDiv"></div>
		</div>
		<div class="col-lg-6">
			<div id="postTweetDiv" class="jumbotron">				
			</div>
			<div id="tweetListDiv"></div>
		</div>
		<div class="follow jumbotron col-lg-3" id="followList"></div>
	</div>
</script>

<script id="loginUserTemplate" type="text/html">
	<h4><strong><%=loginUsr.firstName %></strong><strong><%=loginUsr.lastName%></strong></h4>
	<img src="<%=loginUsr.dp%>" height="150" width="120" />
</script>

<script id="postTweetTemplate" type="text/html">
	<div class="form-group"> 					
		<textarea class="form-control" rows="3" id="tweetText" placeholder="What is happening?"></textarea>
	 	<button id="tweet" class="btn btn-info btn-sm pull-right" >Tweet</button>
 	</div>
</script>

<script id="tweetTemplate" type="text/html">
	<% 	var userObj=users.find(function(user){
			return tweet.get('userId')==user.get('emailId');
		});
	%>
		<div class='jumbotron'>
			<div class='row' >
				<div class='col-lg-2'><img src='<%=userObj.get("dp")%>' height='50' width='50'/></div>
			    <div class='col-lg-10' >
			   		<div class='row' style='font-weight:bold'>
			   			<div><%=userObj.get('firstName')%></div>
		   			</div>
		   			<div class='row'>
		   				<div ><%=tweet.get('text')%></div>
					</div>
					<% if (tweet.get('image')!=""){%>
					<div class='row' style='padding-top:10px'>
						<div ><img src='<%=tweet.get("image")%>' height='250' width='400'/></div>
					</div>
					<%}%>
					<div class='row' style='padding-top:10px'>
						<div><span class='glyphicon glyphicon-share-alt col-lg-3' ><span 
						class='badge' >0</span></span>
							<span class='glyphicon glyphicon-retweet col-lg-3' ><span  
							class='badge' >0</span></span>
							<span class='glyphicon glyphicon-heart col-lg-3'><span  
							class='badge' ><%= tweet.get('noOfLikes')%></span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
</script>

<script id="followTemplate" type="text/html">
<div class="row"><h3>Who to follow</h3></div>
<%followUsers.each(function(followMember){%>
		<div class='row' style='padding-top:15px'>
				<div class='col-lg-4 nopadding'><img src="<%=followMember.get('dp')%>" height='50' width='50'/></div>
			    <div class='col-lg-6' >
			   		<div class='row' style='font-weight:bold'>
			   			<div><%=followMember.get('firstName')%></div>
		   			</div>
		   			
					<div class='row' style='padding-top:10px'>
						<button class="btn btn-info btn-xs">Follow</button>
					</div>
				</div>
		</div>
<%});%>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
<script src="Model.js"></script>
<script src="View.js"></script>
<script src="App.js"></script>
</body>
<html>