<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Bootstrap Tutorial</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
body { 
	background: #2F4F4F;
	padding-top: 60px;
}
.navbar-default{
	background-color:#fff;
}
.navbar-default .navbar-brand{
	
}
.btn-default{
	background-color: #2F4F4F;
	color:#fff;
}
.btn-info{
	background-color:#5F9EA0;
}
.badge{
	background-color:#5F9EA0;
}
.jumbotron{
	background-color:#fff;
}
.profile{
	background-color:#E6E6FA;
	height: 300px;
	text-align: center
	
}

.follow{
	background-color:#F0FFF0;
}
.nopadding {
   padding: 0 ;
   margin: 0 ;
}
</style>
<body>
<div class="container">
	<div class="navbar navbar-default navbar-fixed-top">
		
    	<ul class="nav navbar-nav">
    		<li class="active" ><a href="#">Home <span class="glyphicon glyphicon-home"></span></a></li>
    		<li><a href="#">Notifications <span class="glyphicon glyphicon-bell"><span class="badge">5</span></a></li>
    		<li><a href="#">Messages <span class="glyphicon glyphicon-envelope"><span class="badge">2</span></a></li>
    	</ul>
    	
    	<form class="navbar-form navbar-right">
    		<div class="form-group">
    			<input type="text" class="form-control" placeholder="Search">
    			<button type="submit" class="btn btn-default" >Submit</button>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class=" profile jumbotron col-lg-3">
			<h4><strong>Santhosh Kadavy</strong></h4>
			<img src="profilePic.jpg" height="150" width="120" />
		</div>
		<div id="tweetList" class="col-lg-6"></div>
		<div class="follow jumbotron col-lg-3" id="followList"></div>
	</div>
	
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	var users=[{"name":"Alex","gender":"male","dp":"male.jpg"},{"name":"Tina","gender":"female","dp":"female.jpg"},{"name":"Vishnu","gender":"male","dp":"male.jpg"},{"name":"John","gender":"male.jpg","dp":"male.jpg"},{"name":"Saleem","gender":"male.jpg","dp":"male.jpg"},{"name":"Arjun","gender":"male.jpg","dp":"male.jpg"},{"name":"Swathi","gender":"female","dp":"female.jpg"},{"name":"Martin","gender":"male.jpg","dp":"male.jpg"},{"name":"Remo","gender":"male.jpg","dp":"male.jpg"},{"name":"Rose","gender":"female","dp":"female.jpg"}];
	var messages=[{"text":"Participated in Hyderabad marathon","image":"Starfish.jpg"},{"text":"Back to school","image":""},{"text":"Watching India vs Australia at Chinnaswamy stadium","image":""},{"text":"Awesome climate here","image":"Sunset.jpg"},{"text":"Health is wealth","image":"Owl.jpg"},{"text":"Customer is always right","image":"Parachute.jpg"},{"text":"Eat dinner like beggar","image":""},{"text":"Drink 2 litres of water per day","image":""},{"text":"Use public transportation for daily commute","image":""},{"text":"Push yourself beyond limits","image":""},{"text":"Serve the poor","image":"Angrybirds.jpg"},{"text":"Patience is a virtue","image":"Marble.jpg"},{"text":"Family comes first","image":""},{"text":"Prevention is better than cure","image":""},{"text":"Live free or die hard","image":"Squirrel.jpg"},{"text":"Thumbs up, taste the thunder","image":""},{"text":"Happy women's day","image":""},{"text":"Got engaged","image":""},{"text":"Congrats to the Mangalyan team","image":"Hill.jpg"},{"text":"Go cashless","image":""}];
	var tweets=[];
	var tweetImages=['Starfish.jpg','Squirrel.jpg','Sunset.jpg','Owl.jpg','Angrybirds.jpg','Sunset.jpg','Hill.jpg','Marble.jpg','Parachute.jpg'];
	// below code to generate 100 random messages
	_.times(100,function(){
		var randomUserIndex=_.random(0, users.length-1);
		var randomMessageIndex=_.random(0, messages.length-1);
		var tweet=new Object();
		tweet.user=users[randomUserIndex];
		tweet.message=messages[randomMessageIndex];
		tweets.push(tweet);
	});
	var generateTweets=_.template($('#tweetsTemplate').html());
	$('#tweetList').append(generateTweets({tweets:tweets}));
	var generateFlwList=_.template($('#followTemplate').html());
	$('#followList').append(generateFlwList({followLists:users}));

})
</script>
<!-- code to define javascript template - start -->
<script id="tweetsTemplate" type="text/html">
<%_.each(tweets,function(tweetObj,key){%>
		<div class='jumbotron'>
			<div class='row'>
				<div class='col-lg-2'><img src='<%=tweetObj.user.dp%>' height='50' width='50'/></div>
			    <div class='col-lg-10' >
			   		<div class='row' style='font-weight:bold'>
			   			<div><%=tweetObj.user.name%></div>
		   			</div>
		   			<div class='row'>
		   				<div ><%=tweetObj.message.text%></div>
					</div>
					<% if (tweetObj.message.image!=""){%>
					<div class='row' style='padding-top:10px'>
						<div ><img src='<%=tweetObj.message.image%>' height='250' width='400'/></div>
					</div>
					<%}%>
					<div class='row' style='padding-top:10px'>
						<div><span class='glyphicon glyphicon-share-alt col-lg-3'><span class='badge'>20</span></span>
							<span class='glyphicon glyphicon-retweet col-lg-3'><span class='badge'>10</span></span>
							<span class='glyphicon glyphicon-heart col-lg-3'><span class='badge'>108</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
<%});%>
</script>

<script id="followTemplate" type="text/html">
<div class="row"><h3>Who to follow</h3></div>
<%_.each(followLists,function(followObj,key){%>
		<div class='row' style='padding-top:15px'>
				<div class='col-lg-4 nopadding'><img src='<%=followObj.dp%>' height='50' width='50'/></div>
			    <div class='col-lg-6' >
			   		<div class='row' style='font-weight:bold'>
			   			<div><%=followObj.name%></div>
		   			</div>
		   			
					<div class='row' style='padding-top:10px'>
						<button class="btn btn-info btn-xs">Follow</button>
					</div>
				</div>
		</div>
<%});%>
</script>
</script>
<!-- code to define javascript template - start -->

</body>
<html>